.margin-top {
  margin-top: 15px;
}
.margin-top--large {
  margin-top: 30px;
}
.margin-bottom {
  margin-bottom: 15px;
}
.margin-bottom--large {
  margin-bottom: 15px;
}
.margin-left {
  margin-left: 15px;
}
.margin-left--large {
  margin-left: 15px;
}
.margin-right {
  margin-right: 15px;
}
.margin-right--large {
  margin-right: 15px;
}

.padding-top {
  padding-top: 15px;
}
.padding-top--large {
  padding-top: 30px;
}
.padding-bottom {
  padding-bottom: 15px;
}
.padding-bottom--large {
  padding-bottom: 15px;
}
.padding-left {
  padding-left: 15px;
}
.padding-left--large {
  padding-left: 15px;
}
.padding-right {
  padding-right: 15px;
}
.padding-right--large {
  padding-left: 15px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.flex {
  display: flex;
}
