<div class="rambling">
  <p>
    Let's redirect logged out users to /login
  </p>
  <p>
    There, they should be able to login or create an account (which will also log them in).
  </p>
  <p>
    The user should be able to access the site, but not log in again until they validate their email.
  </p>
  <p>
    {{#link-to 'projects'}}Let's link to projects for fun{{/link-to}}
  </p>
</div>
{{outlet}}
